.container {
  padding: 1.75rem;
  border-radius: var(--radius-value);
  background: #fff;
  width: 300px;
  position: relative;

  cursor: grab;

  h3 {
    font-size: 1.25rem;
    color: var(--black);
    line-height: 1.4;
    font-weight: 400;
  }

  p {
    margin-top: 1rem;
    font-size: .9rem;
    color: var(--gray);
    line-height: 1.4;
  }

  &.target {
     background: var(--green);
  }

  &.source {
    background: var(--wood);
  }

  &.default {
    .edit {
      color: var(--black);
    }
  }
  &.target,
  &.source {
    h3,
    p,
    .close{
      color: #fff;
    }
  }

}

.edit {
  position: absolute;
  right: 0;
  top: 0;
  margin: .5rem;
  width: 1.2rem;
  height: 1.2rem;
  background: none;
  outline: 0;
  color: #fff;
  cursor: pointer;
  svg {
    width: 100%;
    height: 100%;
  }
}