.container {
  width: 420px;
}
.block {
  position: fixed;

  border-radius: var(--radius-value);
  border: 1px solid #EEEEEE;
  background: #fff;
  top: 2rem;
  right: 2rem;
  bottom: 2rem;
  width: inherit;
  padding: 1.5rem 0;
  & > div {
    padding: 0 1.5rem;
    height: 100%;
    overflow: hidden auto;
  }
}

.title {
  font-size: 1.25rem;
  font-weight: 500;
  color: var(--black);
}

.description {
  color: var(--gray);
  font-size: .95rem;
  line-height: 1.5;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -moz-box;
  -moz-box-orient: vertical;
  display: -webkit-box;
  -webkit-line-clamp: 4;
  -webkit-box-orient: vertical;
  box-orient: vertical;
}

.banner {
  width: 100%;
  height: 10rem;
  overflow: hidden;
  border-radius: var(--radius-value);
  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    animation: scale 10s ease-in-out 1s infinite;
  }
}

.avatar,
.count,
.addUser{
  width: 3.75rem;
  height: 3.75rem;
  overflow: hidden;
  border-radius: 50%;
  line-height: 1.25rem;

  img {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.count {
  background: var(--black);
  color: #fff;
  font-size: 1.25rem;
  font-weight: 500;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 4;
}

.team {
  display: flex;
  align-items: center;

  & > div {
    &:not(:first-child) {
      margin-left: -1.5rem;
    }
    &:first-child {
      z-index: 4;
    }
    &:nth-child(2){
      z-index: 3;
    }
    &:nth-child(3){
      z-index: 2;
    }
    &:last-child{
      z-index: 1;
    }

  }
}

.addUser {
  background: #fff;
  border: 2px dashed var(--gray);
  display: flex;
  align-items: center;
  justify-content: center;
  margin-left: 2rem !important;
  cursor: pointer;
  svg {
    width: 70%;
    height: 70%;
  }
}


.items {
  display: flex;
  overflow: auto hidden;
  flex-wrap: nowrap;
  align-items: center;
  width: 100%;
  padding-bottom: .5rem;
}

.item {
  height: 5rem;
  border: 2px dashed var(--gray);
  font-size: .95rem;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  border-radius: var(--radius-value);
  cursor: pointer;
  a {
    height: 100%;
    width: 100%;
    display: inline-block;
    padding: .5rem;
  }
}



@keyframes scale {
  from {
    transform: scale(1);
  }
  50% {
    transform: scale(1.05);
  }
  from {
    transform: scale(1);
  }
}