.container {
  display: block;
  background: #fff;
  border-radius: var(--radius-value);
  border: 1px solid #eee;
  padding: 1.5rem;
  cursor: pointer;
  position: relative;
}

.icon {
  width: 2.85rem;
  height: 2.85rem;
  color: var(--darkwood);

  &.png {
    color: var(--info);
  }
  &.jpg,
  &.jpeg{
    color: var(--danger);
  }
  &.xls {
    color: var(--success);
  }
  &.doc,
  &.docx {
    color: var(--primary);
  }
  svg {
    width: 100%;
    height: 100%;
  }
}

.title {
  font-size: 1.15rem;
  line-height: 1.2;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
  font-weight: 500;
}

.typeSize{
  font-size: .8rem;
}
.control {
  position: absolute;
  top: 0;
  right: 0;
  padding: 1rem;
  z-index: 888;
}
