.main {
  background: #fafafa;
  transition: .4s all ease;
  margin-left: 5rem;
  min-height: 100vh;
  padding: 2rem;
  display: flex;
  flex-direction: column;
}

.menu {
  width: 2rem;
  height: 2rem;
  border: 0;
  background: none;


}
.aside {
  display: block;
  position: fixed;
  max-width: 5rem;
  width: 100%;
  padding: 1rem;
  top: 0;
  left: 0;
  bottom: 0;
  transition: .4s all ease;
  background: #fff;
  border-right: 1px solid #eee;



  &.open {
    max-width: 14rem;

    .link {
      span {
        transform: translateX(0);
        opacity: 1;
      }
    }

    .logo {
      & + span {
        opacity: 1;
        transform: translateX(0);
      }
    }

    & + .main {
      margin-right: -14rem;
      margin-left: 14rem;
    }
  }
}


.logo {
  width: 3rem;
  height: 3rem;
  background: var(--black);
  border-radius: 50%;
  flex: 0 0 3rem;
  display: block;

  & + span {
    display: block;
    font-weight: 500;
    font-size: 1.25rem;
    transition: .4s all ease;
    opacity: 0;
    white-space: nowrap;
    transform: translateX(-100%) scale(0);
  }
}


.nav {
  list-style: none;

  li + li {
    margin-top: .5rem;
  }
}


.link {
  display: flex;
  align-items: center;
  border-radius: var(--radius-value);
  white-space: nowrap;
  padding: 0.625rem;
  transition: .4s all ease;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1.5;
  cursor: pointer;
  background: none;
  width: 100%;

  &:hover {
    background: var(--smokeyellow);
  }

  .icon {
    width: 1.5rem;
    height: 1.5rem;
    flex: 0 0 1.5rem;
    display: inline-block;

    svg {
      width: 100%;
      height: 100%;
    }
  }

  span {
    margin-left: .75rem;
    transition: .4s all ease;
    transform: translateX(-100%) scale(0);
    opacity: 0;
  }
}

