.block {
  padding: 1.5rem;
  height: 100%;
  color: #fff;
  display: flex;
  flex-direction: column;
  border-radius: var(--radius-value);
}
.title {
  font-weight: 500;
  font-size: 1rem;
  line-height: 1.5;
}

.count {
  font-weight: 500;
  font-size: 45px;
  line-height: 1.5;
  margin: auto 0 10px;
}
.description {
  font-weight: 500;
  font-size: 14px;
  line-height: 1.5;
  min-height: 45px;
}