:root {
  --primary: #1e87f0;
  --black: #0f0e18;
  --secondary: #24272c;
  --danger: #BA5066;
  --info: #54baf7;
  --warning: #f1c40f;
  --success: #47C269;
  --gray: #a0a4a6;
  --light-gray: #f6f7f8;
  --wood: #F0B878;
  --smokegreen: #8E9993;
  --green: #868974;
  --smokeyellow: #FFEEDC;
  --darkwood: #8B7659;
  --smoke: #f3f9ff;

  --radius-value: .5rem;


  --toastify-color-error: var(--danger);
  --toastify-color-success: var(--green);
  --toastify-color-warning: var(--wood);
  --toastify-color-info: var(--info);
}