html,
body {
  padding: 0;
  margin: 0;
  min-height: 100vh;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

:root{
  --primary: #1e87f0;
  --black: #0f0e18;
  --secondary: #24272c;
  --danger: #f0506e;
  --info: #54baf7;
  --warning: #f1c40f;
  --success: #47c269;
  --gray: #a0a4a6;
  --light-gray: #f6f7f8;
  --wood: #c59875;
}

.btn {
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: #212529;
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  user-select: none;
  background-color: transparent;
  border: 1px solid transparent;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  border-radius: 0.25rem;
  transition: color .15s ease-in-out, background-color .15s ease-in-out, border-color .15s ease-in-out, box-shadow .15s ease-in-out;

  &-primary{
    color: #fff;
    background: var(--primary);
    border-color: var(--primary);
  }

  &-danger{
    color: #fff;
    background: var(--danger);
    border-color: var(--danger);
  }

  &-success{
    color: #fff;
    background: var(--success);
    border-color: var(--success);
  }

  &-warning{
    color: #fff;
    background: var(--warning);
    border-color: var(--warning);
  }

  &-info{
    color: #fff;
    background: var(--info);
    border-color: var(--info);
  }

  &-wood{
    color: #fff;
    background: var(--wood);
    border-color: var(--wood);
  }

  &-black{
    color: #fff;
    background: var(--black);
    border-color: var(--black);
  }

  &-sm{
    padding: 0.25rem 0.5rem;
    font-size: .875rem;
    border-radius: 0.2rem;
  }

  &-lg{
    padding: 0.5rem 1rem;
    font-size: 1.25rem;
    border-radius: 0.3rem;
  }
  &.disabled,
  &:disabled{
    pointer-events: none;
    opacity: .65;
  }

  &:active{
    transform: translateY(1px);
  }


  &-outline-primary {
    color: var(--primary);
    border-color: var(--primary);
    &:hover{
      color: #fff;
      background: var(--primary);
    }
  }
  &-outline-danger{
    color: var(--danger);
    border-color: var(--danger);
    &:hover{
      color: #fff;
      background: var(--danger);
    }
  }
  &-outline-success{
    color: var(--success);
    border-color: var(--success);
    &:hover{
      color: #fff;
      background: var(--success);
    }
  }
  &-outline-warning{
    color: var(--warning);
    border-color: var(--warning);
    &:hover{
      color: #fff;
      background: var(--warning);
    }
  }
  &-outline-info{
    color: var(--info);
    border-color: var(--info);
    &:hover{
      color: #fff;
      background: var(--info);
    }
  }
  &-outline-wood{
    color: var(--wood);
    border-color: var(--wood);
    &:hover{
      color: #fff;
      background: var(--wood);
    }
  }
}

.rounded{
  border-radius: 0.25rem!important;
  &-pill{
    border-radius: 50rem!important;
  }
}

.border{
  border: 1px solid #dee2e6;

  &-primary{
    border-color: var(--primary) !important;;
  }

  &-danger{
    border-color: var(--danger) !important;;
  }

  &-success{
    border-color: var(--success) !important;;
  }

  &-warning{
    border-color: var(--warning) !important;;
  }

  &-info{
    border-color: var(--info) !important;;
  }
}

.form-control{
  display: block;
  width: 100%;
  background: var(--light-gray);
  font-size: .9rem;
  padding: 1.2rem;
  border: 0;
  outline: 0;
  border-radius: .25rem;
  font-weight: 500;
  &::placeholder{
    color: var(--gray);
  }
}

.text {
  &-success {
    color: var(--success);
  }
  &-wood {
    color: var(--wood);
  }
  &-dark {
    color: var(--secondary);
  }
  &-gray {
    color: var(--gray);
  }
}